{% extends "layouts/base.html" %}
{% block content %}
<h1>About me</h1>
<p>Hi! My name is <i>Rafael Henriques</i> and I’m passioned about Technology. Before I got into the IT world, I thought
    hard about what I wanted to learn and work for the remaining of my life. My greatest hobby was computers, therefore
    I bet everything to learn as much as possible regarding to computer software, so I applied for a Bachelor of
    Informatics Engineering. Since that day, I do not spend a single day without touching the computer keystrokes.
</p>
<p>I’m willing to learn as much as possible with you and apply that knowledge.
</p>
<h2>Skills</h2>
<ul>
    <li>Experience in software technologies acquired throughout the academic courses;</li>
    <li>Proficient in spoken and written English;</li>
    <li>Good communication skills in both formal and informal environments;</li>
    <li>Ability to solve problems autonomously;</li>
    <li>Teamwork;</li>
    <li>Ready to always learn more and grow with you;</li>
</ul>
<h2>Experience</h2>
<p><b><i>CISUC - Research Internship (Feb 2018 – Jul 2018)</i></b></p>
<p>Analysis of REST API Development Frameworks regarding to REST principles compliance, therefore I studied a variety of framework such as Swagger and Postman.</p>
<h2>Education</h2>
<p style="margin-bottom:0px;"><b><i>Coimbra Institute of Engineering (1st Cycle)</i></b></p>
2015 - 2018
<p>Bachelor’s degree of Informatics Engineering specialized in Application Development. Final score of 16 (out of 20).</p>
<p style="margin-bottom:0px;"><b><i>Faculty of Science and Technology of University of Coimbra (2nd Cycle)</i></b></p>
2018 – 2020
<p>Master’s degree in Informatics Engineering specialized in Software Engineering.</p>

{% endblock %}