{% extends "layouts/base.html" %}
{% block content %}
<div class="text-center">
    <h1>Contact</h1>
    <br>
    <br>
    <hr width="35%" style="height:4px;border:none;background-color:rgb(236,236,236);">
    <h5>Email</h5>
    <p style="margin: 0px">Personal</p>
    <a href="mailto:rfchenriques@gmail.com">rfchenriques@gmail.com</a>
    <p style="margin: 0px; margin-top:5px">Student</p>
    <a href="mailto:rfch@student.dei.uc.pt">rfch@student.dei.uc.pt</a>
    <hr width="30%">
    <h5>Linkedin</h5>
    <p><a href="https://www.linkedin.com/in/rafa-henriques/">https://www.linkedin.com/in/rafa-henriques/</a></p>
    <hr width="30%">
    <h5>Phone Number</h5>
    <p>+351 916301663</p>
    <hr width="35%" style="height:4px;border:none;background-color:rgb(236,236,236);">
</div>
{% endblock %}